@charset "UTF-8";
/* CSS Document */

#container{
	text-align:left;
	width:800px;
	margin:auto;
}
#nav{
	background-color:#CCC;
	height:30px;
}
#navContainer{
	width:800px;
}
.navText{
	font-size:10px;
	padding-right:20px;
	float:right;
}
.title{
	clear:both;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
}
.prjectDescription{
	width:50%;
	margin-top:20px;
	float:left;
}
.prjectDescription2{
	width:50%;
	margin-top:20px;
	margin-left: 50%;
}


.thumb{
	margin-top:15px;
	padding-right:5px;
	padding-left:5px;
	float:left;
}
.thumb img{
	border:none;
}
.prjectDescription a{
	background-color:#FFF;
}
.prjectDescription a:hover{
	background-color:#CCC;
}
.prjectDescription a:active{
	background-color:#CCC;

}
#footer{
	clear:both;
	background-color:#CCC;
	height:30px;
	padding-right:10px;
	width:790px;
}
.contact{
	color:#666;
	font-size:12px;
	margin-top:10px;
	float:right;
	padding-left:10px;
	margin-right:20px;
	border-left-width: thin;
	border-left-style: dotted;
	border-left-color: #666;
}
.floatright{
	font-size: 12px;
	margin-top:10px;
	color:#666;
	float:left;
	margin-left:10px;
}